:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* colors */
  --primary-100: #d1fae5;
  --primary-200: #a7f3d0;
  --primary-300: #6ee7b7;
  --primary-400: #34d399;
  --primary-500: #10b981;
  --primary-600: #059669;
  --primary-700: #047857;
  --primary-800: #065f46;
  --primary-900: #064e3b;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --medium-text: 1.25rem;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.1s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem);
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem);
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

/****************
    image
*****************/
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/****************
    buttons
*****************/

.btn {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  cursor: pointer;
  color: var(--primary-500);
  background: var(--primary-200);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/****************
    page-section
*****************/
.page-section {
  border: 1px solid blue;
}

/****************
    alerts
*****************/
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/****************
    Modal
*****************/

/****************
    form
*****************/
.form {
  width: 100%;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-title {
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
  background: var(--primary-500);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-3);
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
  font-size: var(--medium-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}

.form-textarea:hover {
  border-color: var(--grey-400);
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/****************
    form Select 
*****************/
.select-container {
  margin: 1rem 0;
}
.select-span {
  display: inline-block;
  margin-bottom: 1rem;
}

select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  font-size: var(--small-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}

option {
  font-size: var(--small-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-input-option {
  margin-left: 1rem;
  border: 1px solid var(--grey-200);
  /* accent-color: var(--primary-600); */
}

.form-label-option {
  font-size: var(--small-text);
  letter-spacing: var(--letterSpacing);
}

.form-textarea-option {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  font-size: var(--small-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}

/****************
    loading
*****************/
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/****************
    title
*****************/
.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 4rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/****************************************
   Outlet CSS (added in HomeLayout.jsx)
*****************************************/
.outlet {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 0rem;
}

/****************
   HomeLayout
*****************/

.home-layout-center {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: clamp(1.5rem, 5vw, 7rem);
  color: var(--primary-500);
  font-weight: 700;
  letter-spacing: 10px;
}

/****************
    Navbar
*****************/
.nav-center {
  /* border: 1px solid green; */
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0rem;
}

/* .nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
} */

.nav-link {
  color: var(--grey-900);
  /* padding: 0.5rem 0.5rem 0.5rem 0; */
  transition: var(--transition);
  letter-spacing: 2px;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.nav-link:hover {
  color: var(--primary-500);
}
.active {
  color: var(--primary-500);
}
@media (min-width: 768px) {
  .nav-center {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  /* .nav-links {
    flex-direction: row;
    margin-top: 0;
  } */
}
